* {
    padding    : 0;
    margin     : 0;
    font-family: sans-serif;
}

.bg-img {
    background-image   : url(images/background.png);
    width              : 100%;
    height             : 100vh;
    background-position: center;
    background-size    : cover;
    position           : relative;
    overflow           : hidden;
}

.logo {
    width : 200px;
    cursor: pointer;
}

.header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 85%;
    height         : 15%;
    margin         : auto;
}

button {
    border       : 1px solid #fff;
    padding      : 12px 25px;
    background   : transparent;
    border-radius: 20px;
    color        : #fbfcfd;
    cursor       : pointer;
    outline      : none;
}

.content {
    color   : #fbfcfd;
    position: relative;
    top     : 20%;
    left    : 8%;
}

h1 {
    font-size  : 80px;
    line-height: 80px;
}

.side-bar {
    width     : 90px;
    height    : 100vh;
    background: linear-gradient(#00545d, #000729);
    position  : absolute;
    right     : 0px;
    top       : 0px;
}

.menu {
    width  : 35px;
    display: block;
    margin : 40px auto;
    cursor : pointer;

}

.social-links img,
.contact-links img {
    width         : 30px;
    display       : block;
    margin        : 5px auto;
    cursor        : pointer;
    padding-bottom: 10px;
}

.social-links {
    position: absolute;
    top     : 35%;
    left    : 35%;
}

.contact-links {
    position: absolute;
    top     : 77%;
    left    : 35%;
}

.bubbles img {
    width    : 50px;
    animation: bubble 7s linear infinite;
}

button:hover{
    color: #000729;
    border-color: #000729;
    background-color: rgba(255, 255, 255, 0.782);
}


.bubbles {
    width          : 100%;
    position       : absolute;
    bottom         : -50px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity  : 0;
    }

    50% {

        opacity: 1;
    }

    75% {

        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity  : 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width          : 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width          : 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width          : 17px;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width          : 35px;
}